RewriteEngine On

# Forcer le HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# (Optionnel) Bloquer l'affichage des dossiers si pas de fichier index
Options -Indexes